.home {
	padding: 26px 30px 31px 30px;
}
.home-image1,
.home-image4 {
	margin-top: 77px;
	width: 10px;
	height: 15px;
	padding-top: 174%;
	margin-left: -11px;
}
.home-image2 {
	width: 80px;
	margin-left: 17px;
}
.home-image3 {
	width: 160px;
	margin-left: 23px;
	margin-right: 27px;
}
